@font-face {
  font-family: 'Agenda-Light';
  src: url('../fonts/Agenda-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Agenda-Light.otf')  format('opentype'),
	     url('../fonts/Agenda-Light.woff') format('woff'), url('../fonts/Agenda-Light.ttf')  format('truetype'), url('../fonts/Agenda-Light.svg#Agenda-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Agenda-Medium';
  src: url('../fonts/Agenda-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Agenda-Medium.otf')  format('opentype'),
	     url('../fonts/Agenda-Medium.woff') format('woff'), url('../fonts/Agenda-Medium.ttf')  format('truetype'), url('../fonts/Agenda-Medium.svg#Agenda-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Agenda-Bold';
  src: url('../fonts/Agenda-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Agenda-Bold.otf')  format('opentype'),
	     url('../fonts/Agenda-Bold.woff') format('woff'), url('../fonts/Agenda-Bold.ttf')  format('truetype'), url('../fonts/Agenda-Bold.svg#Agenda-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');

html, body{
	font-family: 'Agenda-Medium', 'Arial', 'san-serif';
}
ul, li, p, a, div, section, header, footer, span{
	font-weight: 400;
	font-family: inherit;
}
h1, h2, h3, h4, h5{
	font-weight: 400;
	font-family: inherit;
}
button{
	text-transform: none !important;
	font-size: 1.2rem !important;
}
h1{
	line-height: 1;
	margin: 18px 0;
}
body{
	font-weight: 400;
	font-size: 16px;
}
ul, li{
	font-weight: 400;
	font-size: 18px;
    letter-spacing: -1px !important;
}
a{
	color: #002469 !important;
	text-decoration: none;
}
h1, h2, h3, h4 {
	font-weight: 100;
	/*text-transform: uppercase;*/
}
.defBoxContent p{
	font-size: 16px;
}
.section-title{
	
}
.layoutDiv{
	
}
.caret_down{
	position: absolute;
    top: 30px;
    left: 13px;
    height: 0px;
    width: 0px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 15px solid #ffffff;
    transform: rotate(-90deg);
}
.truncate{
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	max-width: 100% !important;
	overflow: hidden !important;
}
.relative{
	position: relative;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}
.shadowSection{
	transition: all 500ms ease-in;
	padding: 60px 15px;
	min-height: 300px;
	box-shadow: rgba(128, 128, 128, 0.3) 0px 0px 100px inset;
	color: rgb(137, 137, 137);
	background: rgb(236, 236, 236);
}
.continueDirections{
	color: rgb(137, 137, 137);
	font-style: italic;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9999;
}
.text-center{
	text-align: center;
}
.img-responsive{
	max-width: 100%;
}
.img-title{
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 40px;
	line-height: 40px;
	font-weight: 100;
	left: 0;
	color: #fff;
	padding-top: 30%;
	text-transform: uppercase;
}
.img-labeled{
	cursor: pointer;
}
.img-labeled:before{
	content: ' ';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom,#2c2c2c,#030303);
	opacity: .6; 
}
.section-content-text{
	margin-top: 15px;
}
.sidebar-icon:after{
	content: " ";
	background: #ccc;
	height: 100%;
	width: 3px;
	position: absolute;
	top: 8px;
	left: 23px;
	overflow: hidden;
	margin-bottom: 16px;
	z-index: 998;
}
.sidebar-icon-mobile:after{
	left: 28px;
	top: 12px;
}
.activeSection{
	color: #0099CC !important;
	font-weight: bold;
}
.activeSectionIcon span{
	background: #0099CC !important;
	color: #0099CC !important;
}
.speech-bubble ul li, .speech-bubble p{
	font-weight: 200;
    line-height: 24px;
}
.speech-bubble p{
	margin: 10px 0 0;
}
.speech-bubble{
	padding-top:30px;
	position: relative;
	background: #fff;
	width: auto;
	margin: 30px auto;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px rgba(0,0,0,.4);
	font-weight: 200;
}
.speech-bubble-left .caret{
    position: absolute;
    top: 30px;
    left: -18px;
    height: 40px;
    width: 40px;
    transform: rotate(45deg);
    background: #fff;
    z-index: -1;
    box-shadow: 3px 3px 10px rgba(0,0,0,.4);
}
.speech-bubble-left .caret-cover{
    position: absolute;
    top: 28px;
    left: -4px;
    height: 44px;
    width: 7px;
    background: #fff;
}
.speech-bubble-right{
	box-shadow: 3px 3px 10px rgba(0,0,0,.4);
}
.speech-bubble-right .caret{
	position: absolute;
	top: 30px;
	right: -6%;
	height: 0px;
	width: 0px;
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
	border-left: 28px solid #ffffff;
}
.speechIcon{
	text-align: center;
}
.speechIcon .material-icons{
	font-size: 35px;
	color: rgb(102, 204, 51);
}

.carouselPanel_NEXT-enter {
	transform: translate(100%);
	opacity: 0;
}

.carouselPanel_NEXT-enter.carouselPanel_NEXT-enter-active {
	transform: translate(0%);
	opacity: 1;
	transition: transform 800ms ease-in-out, opacity 800ms ease-in-out;
}

.carouselPanel_NEXT-leave {
	transform: translate(0%);
}

.carouselPanel_NEXT-leave.carouselPanel_NEXT-leave-active {
	transform: translate(-100%);
	opacity: 0;
	transition: transform 800ms ease-in-out, opacity 800ms ease-in-out;
}

.carouselPanel_BACK-enter {
	transform: translate(-100%);
	opacity: 0;
}

.carouselPanel_BACK-enter.carouselPanel_BACK-enter-active {
	transform: translate(0%);
	opacity: 1;
	transition: transform 800ms ease-in-out, opacity 800ms ease-in-out;
}

.carouselPanel_BACK-leave {
	transform: translate(0%);
}

.carouselPanel_BACK-leave.carouselPanel_BACK-leave-active {
	transform: translate(100%);
	opacity: 0;
	transition: transform 800ms ease-in-out, opacity 800ms ease-in-out;
}



.example-enter {
	position: relative;
	top: 200px;
	opacity: 0.01;
}

.example-enter.example-enter-active {
	opacity: 1;
	top: 0px;
	transition: opacity 500ms ease-in, top 500ms ease-in;
}

.example-leave {
	opacity: 1;
}

.example-leave.example-leave-active {
	opacity: 0.01;
	top: 200px;
	transition: opacity 300ms ease-in, top 300ms ease-in;
}


.search-enter {
	opacity: 0.01;
}

.search-enter.search-enter-active {
	transition: all 500ms ease-in;
	opacity: 1;
}

.search-leave {
	opacity: 1;
}

.search-leave.search-leave-active {
	opacity: 0.01;
	transition: all 500ms ease-in;
}




.modal-enter {
	opacity: 0.01;
	transform: scale(.95) translateY(10px); 
}

.modal-enter.modal-enter-active {
	opacity: 1;
	transform: scale(1) translateY(0px); 
	transition: all .15s ease-out;
}

.modal-leave {
	opacity: 1;
}

.modal-leave.modal-leave-active {
	opacity: 0.01;
	transform: scale(.95) translateY(10px); 
	transition: all .15s ease-out;
}






.collapsed{
	transition: height 500ms ease-in, opacity 700ms ease-in;
	opacity: 0.01;
	height: 0%;
	overflow: hidden;
}
.expanded{
	transition: height 500ms ease-out, opacity 700ms ease-in;
	opacity: 100;
	height: 100%;
	overflow: hidden;
}

.par-meter:before, .legendText:before{
	display: inline-block;
	position: relative;
	margin-top: -2px;
	vertical-align: middle;
	height: 2px;
	width: 50%;
	background-color: #cccccc;
	content: "";
	right: 20px;
	margin-left: -50%;
}
.par-meter:after, .legendText:after{
	display: inline-block;
	position: relative;
	margin-top: -2px;
	vertical-align: middle;
	height: 2px;
	width: 50%;
	background-color: #cccccc;
	content: "";
	left: 20px;
	margin-right: -50%;
}

.golfBall:after{
	display: inline-block;
	position: relative;
	margin-top: -42px;
	vertical-align: middle;
	height: 1px;
	width: 50%;
	max-width: 222px;
	background-color: #ccc;
	content: "";
	left: 20px;
	margin-right: -50%;
}

.golfBall:before{
	display: inline-block;
	position: relative;
	margin-top: -42px;
	vertical-align: middle;
	height: 1px;
	width: 50%;
	max-width: 222px;
	background-color: #ccc;
	content: "";
	right: 20px;
	margin-left: -50%;
}
.golfBall span{
    color: rgb(137, 137, 137) !important;
    font-size: 60px !important;
}
.fullWidth{
	width: 100%;
}
.quote-cont{
	padding: 40px 15px 30px 30px;
}
.quote{
	color: #0099CC;
	margin: 0px;
	margin-bottom: 1.875rem;
	font-weight: 900;
	font-size: 2.6rem;
	line-height: 2.7rem;
}

.audioSeekbar div{
	transition: none !important;
}

/*FlipBook*/
.flipbook-viewport{/*
	overflow:hidden;*/
}

.flipbook-viewport .container{
	margin:auto;
}
/**/
.flipbook-viewport .flipbook{
	width:1200px;
	height:828px;
}

.flipbook-viewport .page{
	width:600px;
	height:828px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.flipbook .hard{
	background:#ccc !important;
	color:#333;
	-webkit-box-shadow:inset 0 0 5px #666;
	-moz-box-shadow:inset 0 0 5px #666;
	-o-box-shadow:inset 0 0 5px #666;
	-ms-box-shadow:inset 0 0 5px #666;
	box-shadow:inset 0 0 5px #666;
	font-weight:bold;
}
/*End FlipBook*/

.bookmark{
	position: absolute;
	right: -100px;
	top: 0;
	background: #0099CC;
	color: #fff;
	padding: 5px 7.5px;
}
.bookmark .caret{ /*not used*/
	position: absolute;
	top: 0;
	left: -10px;
	height: 0px;
	width: 0px;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-right: 10px solid #0099CC;
}
.instructions{
	font-weight: 900;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -20px !important;
    margin-right: -20px !important;
    margin-bottom: -20px !important;
    padding: 15px 20px 15px;
    background-color: rgba(146, 146, 146, 0.15);
    color: #0099CC;
}

.block-scroll{
	overflow: hidden !important;
}
.section-caret{
    z-index: 1;
    position: absolute;
    bottom: -40px;
    right: calc(50% - 40px);
    height: 0px;
    width: 0px;
	border-top: 40px solid #002469;
	border-bottom: 0px solid transparent;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
}
.acccent-box-child{
	border: 1px solid #002469;
	width: auto;
	padding: 10px;
}
.acccent-box-parent{
	display: flex;
	width: 100%;
	text-align: left;
	margin: auto;
	background-color: transparent;
	margin-bottom: 15px;
}
.highlight{
	color: #fff;
    background-color: #e1091d;
    font-size: 20px;
    padding: 5px 0px;
    border-radius: 2px;
    line-height: 28px;
    box-shadow: 10px 0 0 #e1091d, -10px 0 0 #e1091d;
    margin: 0 7px;
    transition: all 500ms ease-in-out;
}




/*Content Queries*/
@media (max-width: 1280px) { 
	.speech-bubble{
		margin-top: 70px;
	}
}
@media (max-width: 960px) {
}
@media (max-width: 840px) {
	.speech-bubble h4{
		font-size: 18px !important;
		line-height: 24px !important;
	}
	.tabs-display-box .section-content-text{
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	    margin-top: 20px !important;
	}
	.section-content-text{
	    padding-top: 50px !important;
	    padding-bottom: 0px !important;
	}
	.slider{
		height: 80px !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		position: relative;
	}
	.slider-container{
		padding: 0 20px 30px !important;
	}
	.tick-text{
		font-size: 16px !important;
	}
	.nav-actions-container{
		display: inherit !important;
	}
	.nav-action{
	    margin: 8px 0 !important;
	}
}
@media (max-width: 600px) {
	.fullScreenModal{
		align-items: unset !important;
	    display: block !important;
	}
	.fullScreenModal .container{
		max-width: 100%;
	}
	.speech-bubble h4 {
        font-size: 16px !important;
	    line-height: 20px !important;
	}
	.fullScreenModal{
		padding: 15px !important;
	}
	.toolbarTitle{
		display: none
	}
	.speech-bubble{
		margin-top: 40px;
		margin-bottom: 0px;
	}
	.sidebar-container{
		width: 100vw;
		max-width: 100vw !important;
		top: 48px !important;
	}
	.sidebar-list{
		display: inline-flex;
		justify-content: space-around;
		width: 100vw;
	}
	.sidebar-item{
		display: flex;
	}
}
@media (max-width: 480px) {
	.fullScreenModal .container{
		max-width: 100%;
	}
	.speech-bubble{
		margin-top: 0px !important;
		max-width: none !important;
		box-shadow: none !important;
		border-radius: 0px !important;
	}
	.speech-bubble h4{
	    margin: 24px 0px 16px !important;
	}
	.caret{
		display: none !important;
	}
	.caret-cover{
		display: none !important;
	}
	.banner{
		padding: 35vh 0 !important;
	}
}
/*Only container Queries*/
.container{
	width: 100%;
	max-width: 1200px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media (min-width: 480px) { 
	.fullScreenModal .continueDirections{
		position: absolute;
		bottom: 0;
	}
}
@media (min-width: 600px) { 
	.fullScreenModal .container{
		max-width: 100%;
	}
	.container{
		max-width: 560px;
	}
	.fullScreenModal .continueDirections{
		position: absolute;
		bottom: 0;
	}
}
@media (min-width: 840px) { 
	.container{
		max-width: 800px;
	}
	.continueDirections{
		position: absolute;
		bottom: 0;
	}
	.tabs-display-box{
		min-height: 560px;
	}
}
@media (min-width: 960px) { 
	.container{
		max-width: 920px;
	}
	.tabs-display-box{
		min-height: 660px;
	}
}
@media (min-width: 1280px) { 
	.container{
		max-width: 1200px;
	}
	.tabs-display-box{
		min-height: 700px;
	}
}

 /* MDL BreakPoints: 480, 600, 840, 960, 1280, 1440, and 1600dp.*/